.dashboard_container {
    margin-top: 2rem;
}

.dashboard_total_counts {
    gap: 3rem;
    justify-content: center;
}

.total-count-link {
    font-weight: 500;
    text-decoration: none;
}

.card-body {
    text-align: center;
}

.count_create {
    gap: 1rem;
    align-items: center;
}

.total_students_count {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.total_students_count .card {
    width: 7rem;
    border-radius: 100%;
    height: 7rem;
}

.total_students_count .active {
border: 5px solid #ffc107;
}

.total_students_count .completed {
border: 5px solid #28a745;
}

.total_students_count .left {
border: 5px solid #dc3545;
}

.total_students_count a {
    text-decoration: none;
    color: #171717;
}


.total_students_count .completed:hover {
    background-color: #28a7463e;
    color: #28a745;
}

.total_students_count .active:hover {
    background-color: #ffc1072f;
    color: #ffc107;
}

.total_students_count .left:hover {
    background-color: #dc354648;
    color: #dc3545;
}

.total_students_count .card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.total_students_count .card .card-title {
    font-size: 16px;
    margin-bottom: 0;
    text-decoration: none;
}

@media (max-width: 768px) {
    .dashboard_total_counts {
        gap: 2rem;
    }
}

.pending-fees-table {
  max-height: 400px;
  overflow-y: auto;
  position: relative;
}

.pending-fees-table table {
  table-layout: fixed;
  width: 100%;
}

/* Make the thead sticky */
.pending-fees-table table thead {
  position: sticky;
  top: 0;
  background-color: #0d6efd; /* Bootstrap primary */
  color: white;
  z-index: 1;
}